# General
*.log
*.cache
*.tmp
*.bak
*.swp
*.DS_Store
Thumbs.db

# PHP
/vendor/
/node_modules/
.env
*.env.local
*.env.*.local
*.phpunit.result.cache
.php_cs.cache

# Composer
composer.lock

# Docker
docker-compose.override.yml
.docker/

# PostgreSQL
*.sql
*.sql.gz
pgdata/

.idea